DEBBUILDER_HOST=127.0.0.1
DEBBUILDER_PORT=8099
DEBBUILDER_REPOSITORY_HOST=127.0.0.1
DEBBUILDER_REPOSITORY_PORT=8081
DEBBUILDER_REPO_URL=
DEBBUILDER_SUITE=stable
DEBBUILDER_COMPONENT=main
DEBBUILDER_AUTH_MODE=none
DEBBUILDER_OIDC_ISSUER=
DEBBUILDER_OIDC_CLIENT_ID=
DEBBUILDER_OIDC_CLIENT_SECRET=
DEBBUILDER_OIDC_REDIRECT_URI=
DEBBUILDER_COOKIE_SECRET=
DEBBUILDER_NTFY_TOKEN=
